<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="admin/js/alpine.js"></script>
<script src="admin/js/perfect-scrollbar.js"></script>
<script src="admin/js/choices.js"></script>
<script src="admin/js/chart.js"></script>
<script src="admin/js/apexchart.js"></script>
<script src="admin/js/quill.js"></script>
<script src="admin/js/rangeslider.min.js"></script>
<script src="admin/js/main.js"></script>

</body>

<!-- Mirrored from weblearnbd.net/tphtml/ebazer/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Sep 2023 16:31:04 GMT -->

</html>